*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #e0e0e0;
    line-height: 1.6;
}
.main-container{
display: grid;
max-width: 1200px;
grid-template-columns: 350px 1fr;
gap: 50px;
padding-top: 40px;
margin: auto;
align-items: start;

}
.sidebar{
  height: 90vh;
  background-color: #2a2a2a;; 
  border: 1px solid #3a3a3a;
  border-radius: 16px; 
  padding: 40px;
  position: sticky;
  top: 40px;

}
.main-content{
   /* height:90vh;*/
    background-color: #2a2a2a;; 
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px; 
}
/*Profile section css*/
.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
/* contact information*/
.contact{
   margin-top: 30px;
   border-top: 2px solid #3a3a3a;
   padding-top: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color:#e0e0e0;
    text-decoration: none;
}
.email{
    margin-bottom: 10px;
}
.phone{
    margin-bottom: 15px;
}
/*social media*/

.social{
   margin-top: 30px;
   border-top: 2px solid #3a3a3a;
   padding-top: 20px;
   text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left:5px ;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}
/*main content*/
/* Navigation*/
#navigation{
    
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    border-bottom: 2px solid #3a3a3a;
  
}
nav a{
text-decoration: none;
color:#a0a0a0;
font-weight: 500;
transition: color 0.3s ease;
}
.active,nav a:hover{
    color: #ffbf00;
}

/*about me*/
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
   width: 60px;
   height: 5px;
   background-color: #ffbf00; 
   margin-bottom: 20px;  
   border-radius: 5px;
}
.content{
    text-align:  justify ;
    color: #a0a0a0;
    line-height: 1.8;
}
#about{
    
    margin-bottom: 40px;
}
/*skills secti*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 30px;
}
.items{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease,boxshadow 0.3s ease;
}
.items img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%)
    contrast(101%);
}
.items h3{
    font-size: 1rem;
    font-weight: 500;
}
.items:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 0px 5px rgb(red, green, rgb(195, 239, 119)) ;
}
/*Education */
#Education{
    margin-top: 30px;
}
.edtech{
 padding-left: 20px;

}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #e0e0e0;
    margin-bottom: 10px;
}
.learning{
    color: #a0a0a0;
}
/* Portfolio */
.project-container{
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px; 
}

.project{
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    transition: 0.3s ease;
}
.project:hover{
    transform: translateY(-5px);
    border-color: #ffbf00;
}

.project img{
    height: 220px;
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and(max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .sidebar{
        position: static;
        height: auto;
    }
}



/* TABLET */
@media screen and (max-width: 992px){

    .main-container{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .sidebar{
        position: static;
        height: auto;
    }

    nav{
        justify-content: center;
    }
}

/* MOBILE */
@media screen and (max-width: 600px){

    .main-content,
    .sidebar{
        padding: 20px;
    }

    .heading{
        font-size: 1.5rem;
    }

    .project img{
        height: 180px;
    }

    nav{
        gap: 15px;
        font-size: 14px;
    }
}